#!/usr/bin/env ruby

preprocess do
  generate_man_page_fragments
end

route '/static/*' do
  # /static/foo.ext → /foo.ext
  item.identifier[7..-2] + '.' + item[:extension]
end

compile '/static/*' do; end

compile '/javascript/*/' do
  filter :uglify_js, :squeeze => true
end

route '/javascript/*/' do
  item.identifier.chop + '.js'
end

compile '/stylesheets/[^_]*/' do
  filter :rainpress
end

route '/stylesheets/[^_]*/' do
  item.identifier.chop + '.css'
end

route '/markup/*' do
  # /markup/foo.markdown → /foo/index.html
  item.identifier[7..-1] + 'index.html'
end

compile '/markup/*' do
  filter :r_code_fix
  filter :erb
  filter :rdiscount
  layout 'default'
end

# Ignore everything not already matched
compile '*' do; nil; end
route   '*' do; nil; end

layout '*', :haml, :format => :html5
