%footer
  %p
    %small
      Hosted on <a href="http://www.heroku.com/">Heroku</a> using the <a href="https://github.com/broccolini/dinky">Dinky theme</a> and built with <a href="http://nanoc.ws/">Nanoc</a>.
