---
---
%head
  %meta{:charset => 'utf-8'}
  %title
    = site_title

  -# Specify author of the site
  %link{ :href => @site.config[:author][:url], :rel => "author" }

  = stylesheets
  = favicon
  = scripts

  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, user-scalable=no" }

  -# HTML5 modernizer
  / [if lt IE 9]
    %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
